# Unit 1 Assessment: Databases, Data Modeling, and SQL Analysis
----

### Overview

The Unit 1 assessment covers databases, data modeling, and SQL analysis.  All of the questions for this assessment are contained in the `Unit_1_Assessment_unsolved.ipynb` Jupyter Notebook file. **The assessment is worth 50 points.**

### Files

Use the following link to download the assessment instructions, datasets, and Jupyter Notebook file.

[Download the Unit 1 Assessment resources](https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-2/Unit_1_Assessment.zip)

### Instructions

Keep the following mind while working on the assessment: 

* Remember that this is an individual assessment&mdash;you may not work with your classmates. However, you are free to consult your course notes and activities to help you answer the questions. 

* Although this assessment is delivered in a Jupyter Notebook, you will have to create databases and tables from the datasets in the Resources folder to solve the questions. You do NOT need to submit the datasets as part of the assessment; only submit the notebook containing your answers. 

    > **Note:** If your answers are not clearly identified, you may receive a score of “0” for that question. 

* We recommend you make a copy of the `Unit_1_Assessment_unsolved.ipynb` file to use as you work through each question. After you complete a question, transfer your answer to the `Unit_1_Assessment_unsolved.ipynb` file that you will submit. 

* When you are ready to submit your assessment, rename the `Unit_1_Assessment_unsolved.ipynb` file with your last name. For example, `Unit_1_Assessment_lastname.ipynb`.

## Question 1

- **4 points**

In pgAdmin, create a database called "tennis_db" and make a new table called "players." Create columns to match the headers in the `players.csv` CSV file or use the [QuickDBD](http://www.quickdatabasediagrams.com) to create the ERD from the  `players.csv` CSV file. Import the `players.csv` CSV file into the new table and answer the following question:

What data type is most appropriate for the "player_id" column?

a.  `VARCHAR`

b. `STRING`

c. `INT`

d. `FLOAT`

### Please provide your answer below.

# C

## Question 2

- **5 points**

Create a new table in "tennis_db" called "matches."  Create columns to match the headers in the `matches.csv` CSV file, or use the [QuickDBD](http://www.quickdatabasediagrams.com) to create the ERD from the `matches.csv` CSV file. Import the `matches.csv` CSV file into the new table and answer the following question:

How many matches in the dataset has Serena Williams won?

a. 41

b. 37

c. 8

d. 45

### Please provide your answer below.

# B

## Question 3

- **6 points**

Using the "tennis_db" from question 1, write a query that returns the count of players for each dominant hand group (i.e. right, left) and answer the following question:

What is the distribution of the players’ dominant hands?

a. 93 are left handed, 898 are right handed.

b. 487 are left handed, 5023 are right handed

c. 5023 are left handed, 487 are right handed.

d. 898 are left handed, 1456 are right handed.

### Please provide your answer below.

# B

## Question 4

- **6 points**

Still using the "tennis_db", write a query that returns the number of "wins" for each dominant hand and answer the following question:

What is the distribution of "wins" for each dominant hand? 

 **Hint:** This will require you to join two tables together.

a. 80 wins for left handed players, 2126 wins for right handed players.

b. 487 wins for left handed players, 5023 wins for right handed players.

c. 2126 wins for left handed players, 241 wins for right handed players.

d. 241 wins for left handed players, 2126 wins for right handed players.

### Please provide your answer below.

# D

## Question 5

- **6 points**

Using the "tennis_db", write a query that ranks the players by the number of wins, then answer the following question:

Which player has the second most wins? 

a. Venus Williams

b. Serena Williams

c. Lindsay Davenport

d. Martina Hingis

### Please provide your answer below.

# C

## Question 6

- **6 points**

Using the "tennis_db", write a query that ranks the players by the number of losses, then answer the following question:

Which two players are tied with most losses? 

a. Venus Williams and Serena Williams.

b. Elena Likhovtseva and Anna Kournikova

c. Martina Hingis and Lindsay Davenport.

d.Monica Seles and Mary Pierce.

### Please provide your answer below.

# B

## Question 7

- **6 points**

Using the "tennis_db", write a query that ranks the youngest players by the number of wins, then answer the following question:

Which youngest player has the most wins? 

a. Lina Krasnoroutskaya

b. Kim Clijsters.

c. Jelena Dokic.

d. Daniela Hantuchova.

### Please provide your answer below.

# B

## Question 8

- **4 points**

You’ve been hired to create a SQL database for a local gym owner, "gym_db". Based on your meetings with the owner, you’ve determined that the initial database design should follow the `schema.txt` in the Resources folder. 

The gym owner contacts you to let you know that the gym is going to start offering drop-in classes. The classes are paid for separately, and trainers are paid a percentage commission for the class and th ecommission is determined for each class.

Create two new tables using to the [QuickDBD](https://app.quickdatabasediagrams.com/#/) and add them to the ERD from the `schema.txt` file, and add the appropriate data types and foreign key constraints to the logical schema, then answer the question below.

```
classes
---
class_id PK
trainer_id
gym_id
class_name
commission_percentage

class_attendance
---
member_id
class_id
```


How many foreign key relationships needed to be added?

a. 3

b. 2

c. 4

d. 6

### Please provide your answer below.

# C

## Question 9

- **3 points**

When you export the ERD from the "gym_db" as a PostgreSQL file, what is the keyword used when adding the foreign key constraints?

a. `INSERT`

b. `CREATE`

c. `ALTER`

d. `UPDATE`

### Please provide your answer below


# C

## Question 10

- **4 points**

Create the "gym_db" database in pgAdmin. Open the Query Tool, copy and paste the exported ERD PostgreSQL query into the Query Tool and run the query to create all six tables. Then, copy the following code and paste into the Query Tool in pgAdmin and run the query, and answer the question below.

```
INSERT INTO gym
(gym_id, gym_name, address, city, zipcode)
values (1, 'Average Joe''s Gymnasium', '123 Main St.', 'Springfield', '12345');

INSERT INTO classes
(class_id, trainer_id, gym_id, class_name, commission_percentage)
values (1,1,1,'Wrench Dodging',0.1);

INSERT INTO trainers
(trainer_id, gym_id, first_name, last_name)
values (1, 1, 'Patches', 'O''Houlihan');
```

The SQL code is attempting to insert a class into the database, but it returns an error. What needs to be changed for the code to run correctly?

a. The IDs need to be changed to unique values.

b. The ‘commission_percentage’ value should be a percent, not a decimal.

c. Foreign key restraints need to be temporarily relaxed.

d. The insert into “trainers” needs to happen before the insert into “classes”.

### Please provide your answer below.

# D